<!DOCTYPE HTML>
<html>
<head>
    <title>Synchronized Sliders</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){

        var socket = io.connect('http://localhost:5000');

        // the socket.io documentation recommends sending an explicit package upon connection
        socket.on('connect', function() {
            socket.emit('client connect', {data: 'I\'m connected!'});
        });

        $('input.sync').on('input', function(event) {
            console.log("anger");
            socket.emit('value changed', {who: $(this).attr('id'), data: $(this).val()});
            return false;
        });
        socket.on('update value', function(msg) {
            console.log(msg.data);
            $('input#'+msg.who).val(msg.data)
        });


    });
</script>

</head>
<body>
<h1>Synchronized Sliders!</h1>

<input id="slider1" class="sync" type="range" min="0" max="50" value="{{slider1}}" /> <br>
<input id="slider2" class="sync" type="range" min="0" max="50" value="{{slider2}}" />


</body>
</html>
